:root {
    /*Primary*/
    --Orange: hsl(25, 97%, 53%);
    /*Secondary*/
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/Overpass-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'overpass', sans-serif;
}

body {
    background-color: var(--VeryDarkBlue);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.con {
    width: 25rem;
    height: 25rem;
    margin: auto;
    background: var(--DarkBlue);
    color: #fff;
    padding: 2rem;
    border-radius: 2rem;
}

.rating-con .icon {
    background: hsla(216, 12%, 54%, 0.1);
    border-radius: 50%; 
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.rating-con h2 {
    margin-bottom: 1rem;
}

.rating-con p {
    color: var(--LightGrey);
    margin-bottom: 1.5rem;
}

.con .numbers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.con .numbers .num {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: hsla(216, 12%, 54%, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--LightGrey);
    font-weight: 700;
    cursor: pointer;
}

.con .numbers .num:hover {
    background-color: var(--LightGrey);
    color: #fff;
}

.con .numbers .selected {
    background-color: var(--Orange);
    color: #fff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
}


.con button {
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    background: var(--Orange);
    color: #fff;
    border: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
}

.con button:hover {
    color: var(--Orange);
    background-color: #fff;
}

.thanks-con {
    display: none;
    text-align: center;
}

.thanks-con .img {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.thanks-con .rating {
    margin: auto;
    margin-bottom: 2rem;
    color: var(--Orange);
    background: hsla(216, 12%, 54%, 0.1);
    border-radius: 3rem;
    width: fit-content;
    padding: 0.5rem 1rem;
}

.thanks-con h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.thanks-con p {
    color: var(--LightGrey);
}